version: '3.8'

services:
  pipeline:
    build: .
    container_name: mlops_pipeline_engine
    volumes:
      # Bridge 1: The Code (Current project folder)
      - .:/app
      
      # Bridge 2: The Fuel (Pointing to D:\MLOps\input_data)
      - ../../input_data:/app/input_data
      
      # Bridge 3: The Gold (Pointing to D:\MLOps\shared_data)
      - ../../shared_data:/app/shared_output
      
    environment:
      - PYTHONUNBUFFERED=1
    # This keeps the container open so we can read the logs if it fails
    restart: "no"