services:
  pipeline_engine:
    build: .
    container_name: mlops_pipeline_engine
    ports:
      - "8501:8501"
    # VOLUME REMOVED: This prevents Windows from hiding the installed Streamlit
    restart: always