services:
  pipeline_engine:
    build: .
    container_name: mlops_pipeline_engine
    volumes:
      - .:/app
      - D:/MLOps/projects/pipeline_v1/shared_data:/app/shared_data
    ports:
      - "8501:8501"
    restart: "no"