services:
  pipeline_engine:
    build: .
    container_name: mlops_pipeline_engine
    ports:
      - "8501:8501"
    # We keep volumes commented out to prevent Windows from hiding the internal files
    # volumes:
    #   - .:/app
    restart: always