services:
  pipeline_engine:
    build: .
    container_name: mlops_pipeline_engine
    # No ports needed for debugging, but we can leave them
    ports:
      - "8501:8501"
    # Ensure no volumes are overriding our internal files
    restart: "no"